MyTodo_Client/Service References/ServiceReference1/ZadaniaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61165/ZadaniaService.svc?xsd=xsd2" namespace="http://marek2222.com/Zadania" />
  <xs:element name="PobierzZadania">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzZadaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://marek2222.com/Zadania" minOccurs="0" name="PobierzZadaniaResult" nillable="true" type="q1:Zadania" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>